// .block-two {
//     padding-top: 174px;
// }
.block-two__content {
    margin-top: -172px;
    margin-left: 61px;
}
.block-two__container {
    width: 800px;
    height: 510px;
    margin: 0 auto;
    background-color: #fff;
}
.block-one__img2 {
    position: relative;
    z-index: 1;
}