.block-more__wrapper {
    width: 800px;
    margin: 0 auto;
}

.block-more__container {
    padding: 49px 250px 22px 250px;  
    position: absolute;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 62px;
}
.block-more__title {
    margin: 0;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */
margin-bottom: 21px;
text-align: center;

color: #333333;
}
.block-more__button {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 30px;
/* identical to box height, or 300% */
padding: 8px 27px 7px 27px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
background: #8D4FDB;
border: none;
border-radius: 3px;
color: #FFFFFF;
cursor: pointer;
}